* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --Grisoscuro: #666;
  --Grisclaro: #ebebeb;
  --Verde: #39b54a;
  --Blanco: #fff;
}
header {
  font-family: "Roboto Mono", monospace;
  background-color: var(--Amarillo);
  width: 100%;
}
h2 {
  font-size: 24px;
}
header .imagenLogo {
  padding: 10px;
  width: 70%;
}
header .buscador {
  margin-top: 30px;
}
header .buscadorIcon {
  margin-top: 30px;
  margin-right: 20px;
}

header .boxSuperior {
  display: flex;
  justify-content: space-between;
  padding: 4px;
  font-size: 11px;
  margin-left: 100px;
  width: 50%;
}
header .boxSuperiorDos {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-left: 100px;
}

header .texto {
  font-size: 12px;
}
header .navegador {
  font-size: 12px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header .navegador ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  list-style: none;
}
header .navegador ul li {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}
main {
  font-family: "Roboto Mono", monospace;
  background-color: var(--Grisclaro);
  color: var(--Azul);
  width: 100%;
  text-align: center;
}

main img {
  width: 100%;
}

main .texto {
  font-size: 18px;
  width: 30%;
}
main .textoOff {
  color: var(--Verde);
  width: 70%;
}
main .seccionProductos {
  display: flex;
}
main .seccionProductos .seccionProductosImg {
  position: relative;
}
main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main .carritoIcon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: all 0.5s ease-in-out;
}

main .carritoIcon:hover {
  color: #39b54a;
  transform: rotate(-90deg);
}

main .miniSeccion {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid var(--Grisclaro);
  position: relative;
  padding: 15px;
}
main .imagenes {
  width: 90%;
}
footer {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-color: var(--Grisclaro);
  width: 90%;
}
@media (min-width: 361px) {
  main section article .texto {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
  }

  main section div.secciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.secciones article {
    width: 45%;
  }

  header .menuHamburguesa {
    background-color: #0044aa;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
  }
}

@media (min-width: 769px) {
  main section div.secciones article {
    width: 22%;
  }
}
