<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="StyleSheet" href="style/style.css" />
    <title>mercado liebre</title>
  </head>

  <body>
    <header>
      <img src="image/logo-mercado-liebre.svg" alt="imagen logo" />
    </header>
    <main class="login">
      <form action="/" method="POST">
        <input type="text" name="user" placeholder="Nombre de usuario" />
        <input type="password" name="pass" placeholder="Elegí tu contraseña" />
        <input type="submit" value="Enviar" />
      </form>
    </main>
    <footer></footer>
  </body>
</html>
